# GitHub profile integration
VITE_GITHUB_USERNAME=manthanut27

# LinkedIn social profile link
VITE_LINKEDIN_URL=https://linkedin.com/in/utkmanthan

# Contact email
VITE_CONTACT_EMAIL=contact@manthanut.site

# Projects Git Repository Links
VITE_GITHUB_REPO_EVA_BLOOM=https://github.com/manthanut27/eva-bloom
VITE_GITHUB_REPO_BMW=https://github.com/manthanut27/bmw-m4-showcase
VITE_GITHUB_REPO_QUIZ=https://github.com/manthanut27/quiz
VITE_GITHUB_REPO_REACT_ANIMATIONS=https://github.com/manthanut27/react-animation

# Projects Live Demo Links
VITE_LIVE_LINK_EVA_BLOOM=https://evabloom.in
VITE_LIVE_LINK_BMW=https://bmw-m4.manthanut.site
VITE_LIVE_LINK_QUIZ=https://quiz.manthanut.site
VITE_LIVE_LINK_REACT_ANIMATIONS=https://react-animation-xi.vercel.app

# Production Resend API Key for Serverless contact function
RESEND_API_KEY=re_your_api_key_here

# Resend Sender Email
RESEND_FROM_EMAIL=contact@manthanut.site
